<html>
  <head>
  <style>
  :root {
    --black: #000;
    --blue: #0040dd;
    --gray: #545456;
    --white: #fff;
  }

  body {
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
  }

  table {
    color: var(--black);
    table-layout: fixed;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid var(--gray);
    border-collapse: collapse;
  }

  th {
    color: var(--black);
    letter-spacing: 1px;
  }

  td {
    padding: 10px;
    word-wrap: break-word;
  }

  td:first-child {
    color: var(--blue);
  }
  </style>
  </head>
  <body>
    <% table_template = EnvCompare::NameSpace.new(headers: headers, data: data) %>
    <%= ERB.new(File.new("themes/table_template.erb").read).result(table_template.get_binding) %>
  </body>
</html>
