<html>
  <head>
  <style>
  body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  table {
    color: #000;
    table-layout: fixed;
    width: 100%;
  }

  table, th, td {
    border: 1px solid #636366;
    border-collapse: collapse;
  }

  th {
    color: #000;
    letter-spacing: 1px;
  }

  td {
    padding: 10px;
    word-wrap: break-word;
  }

  td:first-child {
    color: #409cff;
  }
  </style>
  </head>
  <body>
    <table>
      <tr>
      <% headers.each_with_index do |header, idx| %>
        <th>
          <%= header %>&nbsp;
          (<%= data.map { |col| col[idx] }.compact.size - 1 %> keys)
        </th>
      <% end %>
      </tr>
      <% data.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td>
              <% unless cell.nil? %>
                <code><%= cell %></code>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </body>
</html>
