<table>
  <thead>
    <tr>
      <% @headers.each_with_index do |header, idx| %>
        <th>
          <%= header %>&nbsp;
          (<%= @data.map { |col| col[idx] }.compact.size %>)
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td>
            <% unless cell.nil? %>
              <code><%= cell %></code>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
